<!-- Mobile Navigation -->
<div id="offcanvas-nav" class="uk-offcanvas">
	<div class="uk-offcanvas-bar">
		<ul class="uk-nav uk-nav-offcanvas uk-nav-parent-icon" data-uk-nav>
			<li>
				<a href="index.php">Home</a>
			</li>
			<li>
				<a href="projects.php">Projects</a>
			</li>
			<li>
				<a href="blog.php">Blog</a>
			</li>
			<li>
				<a href="contact.php">Contact</a>
			</li>

			<li class="uk-nav-divider"></li>
		</ul>
	</div>
</div>

<nav class="uk-navbar uk-visible-small">
	<ul class="uk-navbar-nav">
		<a class="uk-navbar-toggle" data-uk-offcanvas="{target: '#offcanvas-nav'}"></a>
	</ul>
	<div class="uk-navbar-content uk-navbar-center">
		<strong><?php echo $pageName; ?></strong>
	</div>
</nav>

<nav id="nav" class="uk-navbar uk-hidden-small">
	<div class="uk-container">
		<ul class="uk-navbar-nav">
			<li>
				<a href="index.php">ALAN BUTTARS</a>
			</li>
			<li>
				<a href="projects.php">Projects</a>
			</li>
			<li>
				<a href="blog.php">Blog</a>
			</li>
			<li>
				<a href="contact.php">Contact</a>
			</li>
		</ul>

		<div class="uk-navbar-flip">
			<ul class="uk-navbar-nav">
			</ul>
		</div>
	</div>
</nav>
