<!-- Mobile Navigation -->
<div id="offcanvas-nav" class="uk-offcanvas">
	<div class="uk-offcanvas-bar">
		<ul class="uk-nav uk-nav-offcanvas uk-nav-parent-icon" data-uk-nav>
			<li>
				<a href="javascript:;">Home</a>
			</li>
			<li>
				<a href="http://alanbuttars.com" target="_blank">Author</a>
			</li>
		</ul>
	</div>
</div>

<nav class="uk-navbar uk-visible-small">
	<ul id="top" class="uk-navbar-nav">
		<a class="uk-navbar-toggle" data-uk-offcanvas="{target: '#offcanvas-nav'}"></a>
	</ul>
	<div class="uk-navbar-content uk-navbar-center">
		<strong>{{title}}</strong>
	</div>
</nav>

<nav id="nav" class="uk-navbar uk-hidden-small">
	<div class="uk-container uk-margin-small">
		<ul id="top" class="uk-navbar-nav">
			<li>
				<a href="javascript:;"><code>commons</code></a>
			</li>
		</ul>

		<div class="uk-navbar-flip">
			<ul class="uk-navbar-nav">
				<li>
					<a href="http://alanbuttars.com" target="_blank">Author</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
