<div class="uk-container">
  <div class="uk-panel uk-panel-box" data-uk-sticky="{top: 10}">
    <h3 class="uk-panel-title">Navigation</h3>
    <ul class="uk-nav uk-nav-side uk-nav-parent-icon" data-uk-scrollspy-nav="{closest: 'li', smoothscroll: true, cls: 'icon-active'}">
      <li><a href="#home">Home</a></li>
      <li><a href="#license">License</a></li>
      <li><a href="#commons-cli">commons-cli</a></li>
      <li><a href="#commons-compress">commons-compress</a></li>
      <li><a href="#commons-config">commons-config</a></li>

      <li class="uk-nav-divider"></li>
      <li class="uk-nav-header">Releases</li>
      <li><a href="">1.0</a></li>
    </ul>
  </div>
</div>
