<div class="uk-grid">
  <div class="uk-width-1-1 uk-width-medium-3-5 uk-width-large-3-4">
    <article class="uk-article">
      <h1 class="uk-article-title">
        <code>commons-cli</code>
      </h1>

      <p class="uk-article-lead">
        Java provides the <a href="https://docs.oracle.com/javase/7/docs/api/java/lang/ProcessBuilder.html">ProcessBuilder</a> to create OS-level system processes.
        This library wraps the ProcessBuilder in an effort to make deploying and interpreting these processes easier.
      </p>

      <p>
        GitHub source: <a href="https://github.com/alanbuttars/commons-java/tree/master/commons-cli" target="_blank">https://github.com/alanbuttars/commons-java/tree/master/commons-cli</a>.
      </p>

      <hr/>

      <h2 id="quickstart">Quickstart</h2>
      <p>
        The first step is to create a <code>CommandLineRequest</code>, which will define the process to run, whether or not to enforce a timeout on that process, and
        how to interpret whether that process completed successfully.
      </p>

      <pre><code class="java">{{'
CommandLineRequest request = new CommandLineRequestBuilder()//
  .build("/path/to/script.sh --first Alan --last Buttars");

CommandLineResponse response = Processes.execute(request);
if (response.succeeded()) {
  // conclusive success
  System.out.println(response.getInfoStream());
}
else if (response.failed()) {
  // conclusive failure
  System.out.println(response.getExitCode());
  System.err.println(response.getErrorStream());
}
else {
  // non-conclusive result
  System.out.println(response.getExitCode());
  System.out.println(response.getInfoStream());
  System.err.println(response.getErrorStream());
}'}}
      </code></pre>

      <hr/>

      <h2 id="evaluate">Evaluating process output</h2>
      <p>
        When <code>Processes.execute(CommandLineRequest)</code> is called, this module maps the info and error streams of the process to a <code>CommandLineResponse</code>.
        This mapping assumes that the process will follow standard command-line conventions (e.g., error messages will go to the error stream, an exit code of 0 indicates success).
        If your process is different, you can provide customized mapping behavior with <code>CommandLineRequestBuilder.withEvaluator(CommandLineEvaluator)</code>.
      </p>

      <h3><code>CommandLineEvaluatorExitStatusImpl</code> &mdash; Evaluate by exit code</h3>
      <p>
        This is the default.
      </p>
      <dl class="uk-description-list-horizontal">
        <dt>success</dt>
        <dd>
          <ul>
            <li>when exit code is 0</li>
          </ul>
        </dd>

        <dt>failure</dt>
        <dd>
          <ul>
            <li>any other case</li>
          </ul>
        </dd>
      </dl>
      <pre><code class="java">
CommandLineRequest request = new CommandLineRequestBuilder()//
  .build("ls");
      </code></pre>

      <h3><code>CommandLineEvaluatorKeywordImpl</code> &mdash; Evaluate by keyword</h3>
      <p>
        This is used when you want to determine success or failure based on specific messages in the info or error stream.
      </p>
      <dl class="uk-description-list-horizontal">
        <dt>success</dt>
        <dd>
          <ul>
            <li>when a succeedOn() keyword is found in the info or error stream, but not on the same line as an ignore() keyword</li>
            <li>when no failOn() keyword is found and exit code is 0</li>
          </ul>
        </dd>

        <dt>failure</dt>
        <dd>
          <ul>
            <li>when a failOn() keyword is found in the info or error stream, but not on the same line as an ignore() keyword</li>
            <li>when no succeedOn() keyword is found and exit code is not 0</li>
          </ul>
        </dd>
      </dl>
      <pre><code class="java">
CommandLineRequest request = new CommandLineRequestBuilder()//
  .withEvaluator(
    new CommandLineEvaluatorKeywordImpl()//
      .succeedOn("User registered!")//
      .failOn("User registration failed!")//
      .ignore("User registration failed! Retrying...")
  )//
  .build("/path/to/register.sh --first Alan --last Buttars");
      </code></pre>

      <h3><code>CommandLineEvaluatorAbstractImpl</code> &mdash; Evaluate with custom logic</h3>
      <p>
        Define your own custom behavior.
      </p>

      <pre><code class="java">{{'
CommandLineRequest request = new CommandLineRequestBuilder()//
  .withEvaluator(
    new CommandLineEvaluatorAbstractImpl() {

      private boolean alreadyRegistered = false;

      @Override
      public Evaluation evaluateInfoStream(String infoStreamLine) {
        alreadyRegistered |= infoStreamLine.contains("User was already registered");
        return Evaluation.NON_CONCLUSIVE;
      }

      @Override
      public Evaluation evaluateErrorStream(String errorStreamLine) {
        return ConclusiveEvaluation.NON_CONCLUSIVE;
      }

      @Override
      public ConclusiveEvaluation evaluateExitCode(int exitCode) {
        if (exitCode == 0 || alreadyRegistered) {
          return ConclusiveEvaluation.SUCCESS;
        }
        return ConclusiveEvaluation.FAILURE;
      }

    }
  )//
  .build("/path/to/register.sh --first Alan --last Buttars");
      '}}</code></pre>

      <hr/>

      <h2 id="timeout">Interrupting on timeout</h2>
      <p>
        By default, processes are allowed to run until they exit or are interrupted. If you'd like to put a time restraint on the process, you can do so easily:
      </p>

      <pre><code class="java">{{'
CommandLineRequest request = new CommandLineRequestBuilder()//
  .interruptAfter(5000)//
  .build("/path/to/long_running_script.sh");

CommandLineResponse response = Processes.execute(request);
System.out.println("Failed: " + response.failed());
System.out.println("Interrupted: " + response.interrupted());
System.out.println("Non-interruption exception thrown: " + response.exceptionThrown());
if (response.interrupted()) {
  System.out.println("Interruption message: " + response.getException().getMessage());
}
    '}}</code></pre>

      <p>The above code would print the following:</p>

      <pre><code class="shell">
Failed: true
Interrupted: true
Non-interruption exception thrown: false
Interruption message: Process interrupted after 5000 millis
      </code></pre>

      <hr/>

      <h2 id="interrupt">Interrupting on failure</h2>
      <p>
        By default, processes are allowed to run until they exit or are interrupted. But you may want the process to exit as soon as it has been evaluated as a failure (which may occur well before the script actually concludes).
      </p>

      <pre><code class="java">
CommandLineRequest request = new CommandLineRequestBuilder()//
  .withEvaluator(
    new CommandLineEvaluatorKeywordImpl()//
      .succeedOn("User registered!")//
      .failOn("User registration failed! Now I'm going to try and clean things up...")
  )//
  .build("/path/to/register.sh --first Alan --last Buttars");
CommandLineResponse response = Processes.execute(request);
System.out.println("Failed: " + response.failed());
System.out.println("Interrupted: " + response.interrupted());
System.out.println("Non-interruption exception thrown: " + response.exceptionThrown());
      </code></pre>

      <p>The above code would print the following:</p>

      <pre><code class="shell">
Failed: true
Interrupted: true
Non-interruption exception thrown: false
      </code></pre>

      <hr/>

      <h2 id="arguments">Wrapping arguments</h2>
      <p>
        Depending on your system or the process you are trying to execute, sometimes you will need to wrap arguments which contain spaces.
        We provide the <code>Argument</code> class, which will wrap a given value if it contains a space.
      </p>

      <pre><code class="java">{{'
List&lt;String&gt; names = Arrays.asList("Ichiro", "Alan Buttars");
for (String name : names) {
  List&lt;Argument&gt; arguments = Arrays.asList(//
    new Argument("/path/to/script.sh"), //
    new Argument("-name"), //
    new Argument(name, \'"\')
  );
  CommandLineRequest request = new CommandLineRequestBuilder().build(arguments);
  CommandLineResponse response = Processes.execute(request);
}
      '}}</code></pre>

      <p>
        The above code would send the following to the command line:
      </p>

      <pre><code class="shell">
/path/to/script.sh -name Ichiro
/path/to/script.sh -name "Alan Buttars"
      </code></pre>
    </article>
  </div>

  <div class="uk-hidden-small uk-width-medium-2-5 uk-width-large-1-4">
    <div data-uk-sticky="{top: 10}">
      <ul class="uk-nav uk-nav-side" data-uk-scrollspy-nav="{closest: 'li', smoothscroll: true, cls: 'uk-active'}">
        <li><a href="#quickstart">Quickstart</a></li>
        <li><a href="#evaluate">Evaluating process output</a></li>
        <li><a href="#timeout">Interrupting on timeout</a></li>
        <li><a href="#interrupt">Interrupting on failure</a></li>
        <li><a href="#arguments">Wrapping arguments</a></li>
      </ul>
    </div>
  </div>
</div>
