<div class="uk-grid">
  <div class="uk-width-1-1 uk-width-medium-3-5 uk-width-large-3-4">
    <article class="uk-article">
      <h1 class="uk-article-title">
        <code>commons-config</code>
      </h1>

      <p class="uk-article-lead">
        Almost every project requires configurations, and those configurations sometimes require tweaking. Wouldn't it be nice to deploy
        your application, then adjust configurations and watch them affect the application on the fly? That's what the commons-config module
        tries to accomplish. Setup is basic:
      </p>
      <ul class="uk-article-lead">
        <li>Define a master YAML file which specifies all configuration files used in your application</li>
        <li>At application startup, build objects referencing those configuration files</li>
        <li>Use those configuration objects throughout your code</li>
      </ul>
      <p class="uk-article-lead">
        If one of the configuration files specified in your master YAML (or the master YAML itself) is updated, the configuration object
        associated with it is automatically updated. No redeploy is necessary, so there's no need to worry about application downtime!
      </p>

      <hr/>

      <h2 id="qs-yaml">Master YAML</h2>
      <p>
        The first step is to define a master YAML file. This file lists the other configuration files to watch and how often to poll them for updates.
      </p>
      <pre><code class="yaml makefile">
# 'master' refers to this file itself
master:

  # how often should we query this file for changes?
  poll-every: 60

  # time unit corresponding to above property
  #   e.g., 'millseconds', 'seconds', 'minutes', 'hours'
  poll-every-unit: 'seconds'

  # how many threads in the pool used to poll files?
  pool-size: 10

# 'files' refers to the other configuration files to watch
files:

  # 'database' is an alias that you define, describing the configuration's purpose
  database:
    file: '/path/to/database.properties'
    poll-every: 30
    poll-every-unit: 'seconds'

  admin-user:
    file: '/path/to/admin-user.json'
    poll-every: 5
    poll-every-unit: 'minutes'

  page-permissions:
    file: '/path/to/page-permissions.xml'
    poll-every: 10
    poll-every-unit: 'minutes'

  client-properties:
    file: '/path/to/clients/'
    poll-every: 6
    poll-every-unit: 'hours'
      </code></pre>

      <hr/>

      <h2 id="qs-watch">Creating <code>Watch</code> singleton</h2>
      <p>
        The second step is to create a singleton instance of the <code>Watch</code> class when your application starts.
        This class will manage polling for the files defined in your master YAML and will also allow you to create configuration objects.
      </p>
      <p>
        There are two ways to create a <code>Watch</code>. Both which require your master YAML and an instance of the
        <a href="https://github.com/google/guava/wiki/EventBusExplained">Google Guava EventBus</a>.
      </p>

      <ol>
        <li>
          <p>Set the master YAML file path in the <code>commons.config</code> system property</p>
          <p>In your application startup code:</p>
          <pre><code class="java">{{'
public static void main(String[] args) {
  Watch watch = Watch.config().withEventBus(new EventBusSyncImpl());
}
          '}}</code></pre>

          <p>Then deploy your application with the system property:</p>
          <pre><code class="shell">
java -Dcommons.config=/path/to/commons.config.yml -jar Application.jar
          </code></pre>
        </li>

        <li>
          <p>Set the master YAML file path in your code</p>
          <p>In your application startup code:</p>
          <pre><code class="java">{{'
public static void main(String[] args) {
  Watch watch = Watch.config("/path/to/commons.config.yml").withEventBus(new EventBusSyncImpl());
}
          '}}</code></pre>
        </li>
      </ol>

      <hr/>

      <h2 id="qs-config">Creating configuration objects</h2>
      <p>
        Now that you have your <code>Watch</code> instance, you can use it to create singleton configuration objects that will last the duration of your
        application's runtime. These configuration objects will automatically update themselves when their associated file is updated, so you never have
        to worry about bouncing servers for a configuration update.
      </p>
      <p>
        Here's a simple example of how to create these objects:
      </p>

      <pre><code class="java">{{'
public class Configurations {

  public static final ConfigurationPropertiesImpl database;
  public static final ConfigurationJsonCollectionImpl&lt;List&lt;PagePermission&gt;&gt; pagePermissions;
  public static final ConfigurationXmlImpl&lt;User&gt; adminUser;
  public static final ConfigurationDirectoryImpl clientProperties;

  static {
    EventBus eventBus = new EventBusSyncImpl();
    Watch watch = Watch.config().withEventBus(eventBus);

    database = watch.properties("database");
    adminUser = watch.xml("admin-user").mappedTo(User.class);
    pagePermissions = watch.json("page-permissions").mappedTo(new TypeReference&lt;List&lt;PagePermission&gt;&gt;() {});
    clientProperties = watch.directory("client-properties");
  }
}
      '}}</code></pre>

      <hr/>

      <h2 id="json">JSON configuration objects</h2>
      <p>
        If your JSON configuration file models a single object, you can map it to <code>ConfigurationJsonImpl</code>.
      </p>
      <p>
        If your JSON configuration file models a collection of objects, you can map it to <code>ConfigurationJsonCollectionImpl</code>.
      </p>

      <ul class="uk-tab" data-uk-tab="{connect: '#tab-json'}">
        <li><a href="">database.json</a></li>
        <li><a href="">Database.java</a></li>
        <li><a href="">credentials.json</a></li>
        <li><a href="">Credentials.java</a></li>
        <li><a href="">master.yml</a></li>
        <li><a href="">Configurations.java</a></li>
        <li><a href="">Application.java</a></li>
      </ul>
      <ul id="tab-json" class="uk-switcher">
        <li>
          <pre><code class="json">{{'
{
  "db": "clients",
  "host": "db.mydomain.com"
}
        '}}</code></pre>
        </li>
        <li>
          <pre><code class="java">{{'
public class Database {
  @JsonProperty("db")
  private String database;
  private String host;

  public String getDatabase() { return database; }
  public String getHost() { return host; }
  public void setDatabase(String database) { this.database = database; }
  public void setHost(String host) { this.host = host };
}
        '}}</code></pre>
        </li>
        <li>
          <pre><code class="json">{{'
[
  {
    "username": "admin",
    "password": "adm1n_s3cr3t"
  },
  {
    "username": "service_a",
    "password": "s3rv1c3_a_s3cr3t"
  },
  {
    "username": "service_b",
    "password": "s3rv1c3_b_s3cr3t"
  }
]
        '}}</code></pre>
        </li>
        <li>
          <pre><code class="java">{{'
public class Credentials {
  private String username;
  private String password;

  public String getUsername() { return username; }
  public String getPassword() { return password; }
  public void setUsername(String username) { this.username = username; }
  public void setPassword(String password) { this.password = password; }
}
        '}}</code></pre>
        </li>
        <li>
          <pre><code class="yaml makefile">
master:
  poll-every: 60
  poll-every-unit: 'seconds'
  pool-size: 10

files:
  db:
    file: '/path/to/database.json'
    poll-every: 1
    poll-every-unit: 'hour'

  creds:
    file: '/path/to/credentials.json'
    poll-every: 5
    poll-every-unit: 'minutes'
          </code></pre>
        </li>
        <li>
          <pre><code class="java">{{'
public class Configurations {

  public static final ConfigurationJsonImpl&lt;Database&gt; db;
  public static final ConfigurationJsonCollectionImpl&lt;List&lt;Credentials&gt;&gt; creds;

  static {
    EventBus eventBus = new EventBusSyncImpl();
    Watch watch = Watch.config("/path/to/master.yml").withEventBus(eventBus);

    db = watch.json("db").mappedTo(Database.class);
    creds = watch.json("creds").mappedTo(new TypeReference&lt;List&lt;Credentials&gt;&gt;() {});
  }
}
        '}}</code></pre>
        </li>
        <li>
          <pre><code class="java">{{'
public static void main(String[] args) {
  String database = Configurations.db.getValue().getDatabase();
  String host = Configurations.db.getValue().getHost();
  Connection connection = createConnection(database, host);
  Credentials credentials = Configurations.creds
    .getValue()
    .stream()
    .filter(c -> c.getUsername().equals("admin"))
    .findFirst()
    .get();
  query(connection, credentials.getUsername(), credentials.getPassword());
}
        '}}</code></pre>
        </li>
      </ul>

      <hr/>

      <h2 id="properties">Java .properties configuration objects</h2>
      <p>
        Map your .properties files to <code>ConfigurationPropertiesImpl</code>.
      </p>

      <ul class="uk-tab" data-uk-tab="{connect: '#tab-properties'}">
        <li><a href="">database.properties</a></li>
        <li><a href="">master.yml</a></li>
        <li><a href="">Configurations.java</a></li>
        <li><a href="">Application.java</a></li>
      </ul>
      <ul id="tab-properties" class="uk-switcher">
        <li>
          <pre><code class="bash">
db=client
host=db.mydomain.com
username=admin
password=adm1n_s3cr3t
          </code></pre>
        </li>
        <li>
          <pre><code class="yaml makefile">
master:
  poll-every: 60
  poll-every-unit: 'seconds'
  pool-size: 10

files:
  db:
    file: '/path/to/database.properties'
    poll-every: 1
    poll-every-unit: 'hour'
          </code></pre>
        </li>
        <li>
          <pre><code class="java">{{'
public class Configurations {

  public static final ConfigurationPropertiesImpl db;

  static {
    EventBus eventBus = new EventBusSyncImpl();
    Watch watch = Watch.config("/path/to/master.yml").withEventBus(eventBus);

    db = watch.properties("db");
  }
}
        '}}</code></pre>
        </li>
        <li>
          <pre><code class="java">{{'
public static void main(String[] args) {
  String database = Configurations.db.getString("db");
  String host = Configurations.db.getString("host");
  Connection connection = createConnection(database, host);
  String username = Configurations.db.getString("username");
  String password = Configurations.db.getString("password");
  query(connection, username, password);
}
        '}}</code></pre>
        </li>
      </ul>

      <hr/>

      <h2 id="xml">XML configuration objects</h2>
      <p>
        Map your XML files to <code>ConfigurationXmlImpl</code>.
      </p>

      <ul class="uk-tab" data-uk-tab="{connect: '#tab-xml'}">
        <li><a href="">database.xml</a></li>
        <li><a href="">Database.java</a></li>
        <li><a href="">Credentials.java</a></li>
        <li><a href="">master.yml</a></li>
        <li><a href="">Configurations.java</a></li>
        <li><a href="">Application.java</a></li>
      </ul>
      <ul id="tab-xml" class="uk-switcher">
        <li>
          <pre><code class="xml">
&lt;?xml version="1.0" encoding="UTF-8" standalone="yes"?&gt;
&lt;database&gt;
  &lt;db&gt;client&lt;/db&gt;
  &lt;host&gt;db.mydomain.com&lt;/host&gt;
  &lt;credentialList&gt;
    &lt;credentials&gt;
      &lt;username&gt;admin&lt;/username&gt;
      &lt;password&gt;adm1n_s3cr3t&lt;/password&gt;
    &lt;/credentials&gt;
    &lt;credentials&gt;
      &lt;username&gt;service_a&lt;/username&gt;
      &lt;password&gt;s3rv1c3_a_s3cr3t&lt;/password&gt;
    &lt;/credentials&gt;
    &lt;credentials&gt;
      &lt;username&gt;service_b&lt;/username&gt;
      &lt;password&gt;s3rv1c3_b_s3cr3t&lt;/password&gt;
    &lt;credentials&gt;
  &lt;/credentialList&gt;
&lt;database&gt;
          </code></pre>
        </li>
        <li>
          <pre><code class="java">{{'
@XmlRootElement
public class Database {
  @XmlAttribute(name="db")
  private String database;
  private String host;
  private List&lt;Credentials&gt; credentialList;

  public String getDatabase() { return database; }
  public String getHost() { return host; }
  public List&lt;Credentials&gt; getCredentialList() { return credentialList; }
  public void setDatabase(String database) { this.database = database; }
  public void setHost(String host) { this.host = host };
  public void setCredentialList(List&lt;Credentials&gt; credentialList) { this.credentialList = credentialList; }
}
        '}}</code></pre>
        </li>
        <li>
          <pre><code class="java">{{'
public class Credentials {
  private String username;
  private String password;

  public String getUsername() { return username; }
  public String getPassword() { return password; }
  public void setUsername(String username) { this.username = username; }
  public void setPassword(String password) { this.password = password; }
}
        '}}</code></pre>
        </li>
        <li>
          <pre><code class="yaml makefile">
master:
  poll-every: 60
  poll-every-unit: 'seconds'
  pool-size: 10

files:
  db:
    file: '/path/to/database.xml'
    poll-every: 1
    poll-every-unit: 'hour'
          </code></pre>
        </li>
        <li>
          <pre><code class="java">{{'
public class Configurations {

  public static final ConfigurationXmlImpl&lt;Database&gt; db;

  static {
    EventBus eventBus = new EventBusSyncImpl();
    Watch watch = Watch.config("/path/to/master.yml").withEventBus(eventBus);

    db = watch.xml("db").mappedTo(Database.class);
  }
}
        '}}</code></pre>
        </li>
        <li>
          <pre><code class="java">{{'
public static void main(String[] args) {
  String database = Configurations.db.getValue().getDatabase();
  String host = Configurations.db.getValue().getHost();
  Connection connection = createConnection(database, host);
  Credentials credentials = db.getCredentialList()
    .stream()
    .filter(c -> c.getUsername().equals("admin"))
    .findFirst()
    .get();
  query(connection, credentials.getUsername(), credentials.getPassword());
}
        '}}</code></pre>
        </li>
      </ul>

      <hr/>

      <h2 id="yaml">YAML configuration objects</h2>
      <p>
        If your YAML configuration file models a single object, you can map it to <code>ConfigurationYamlImpl</code>.
      </p>
      <p>
        If your YAML configuration file models a collection of objects, you can map it to <code>ConfigurationYamlCollectionImpl</code>.
      </p>

      <ul class="uk-tab" data-uk-tab="{connect: '#tab-yaml'}">
        <li><a href="">database.yml</a></li>
        <li><a href="">Database.java</a></li>
        <li><a href="">credentials.yml</a></li>
        <li><a href="">Credentials.java</a></li>
        <li><a href="">master.yml</a></li>
        <li><a href="">Configurations.java</a></li>
        <li><a href="">Application.java</a></li>
      </ul>
      <ul id="tab-yaml" class="uk-switcher">
        <li>
          <pre><code class="yaml makefile">
db: 'clients'
host: 'db.mydomain.com'
          </code></pre>
        </li>
        <li>
          <pre><code class="java">{{'
public class Database {
  @JsonProperty("db")
  private String database;
  private String host;

  public String getDatabase() { return database; }
  public String getHost() { return host; }
  public void setDatabase(String database) { this.database = database; }
  public void setHost(String host) { this.host = host };
}
        '}}</code></pre>
        </li>
        <li>
          <pre><code class="yaml makefile">
- username: 'admin'
  password: 'adm1n_s3cr3t'

- username: 'service_a'
  password: 's3rv1c3_a_s3cr3t'

- username: 'service_b'
  password: 's3rv1c3_b_s3cr3t'
          </code></pre>
        </li>
        <li>
          <pre><code class="java">{{'
public class Credentials {
  private String username;
  private String password;

  public String getUsername() { return username; }
  public String getPassword() { return password; }
  public void setUsername(String username) { this.username = username; }
  public void setPassword(String password) { this.password = password; }
}
        '}}</code></pre>
        </li>
        <li>
          <pre><code class="yaml makefile">
master:
  poll-every: 60
  poll-every-unit: 'seconds'
  pool-size: 10

files:
  db:
    file: '/path/to/database.yml'
    poll-every: 1
    poll-every-unit: 'hour'

  creds:
    file: '/path/to/credentials.yml'
    poll-every: 5
    poll-every-unit: 'minutes'
          </code></pre>
        </li>
        <li>
          <pre><code class="java">{{'
public class Configurations {

  public static final ConfigurationYamlImpl&lt;Database&gt; db;
  public static final ConfigurationYamlCollectionImpl&lt;List&lt;Credentials&gt;&gt; creds;

  static {
    EventBus eventBus = new EventBusSyncImpl();
    Watch watch = Watch.config("/path/to/master.yml").withEventBus(eventBus);

    db = watch.yaml("db").mappedTo(Database.class);
    creds = watch.yaml("creds").mappedTo(new TypeReference&lt;List&lt;Credentials&gt;&gt;() {});
  }
}
        '}}</code></pre>
        </li>
        <li>
          <pre><code class="java">{{'
public static void main(String[] args) {
  String database = Configurations.db.getValue().getDatabase();
  String host = Configurations.db.getValue().getHost();
  Connection connection = createConnection(database, host);
  Credentials credentials = Configurations.creds
    .getValue()
    .stream()
    .filter(c -> c.getUsername().equals("admin"))
    .findFirst()
    .get();
  query(connection, credentials.getUsername(), credentials.getPassword());
}
        '}}</code></pre>
        </li>
      </ul>

      <hr/>

      <h2 id="directory">Directory configuration objects</h2>
      <p>
        Let's say that instead of watching a single file, you want to watch an entire directory and have your code react when the contents
        of the directory change. In that case, we'll use a <code>ConfigurationDirectoryImpl</code>.
      </p>

      <p>
        Let's assume your directory structure looks like this:
      </p>
      <pre><code class="nohighlight">
clients/
  apple.css
  google.css
  paypal/
    venmo.css
    braintree.css
      </code></pre>

      <ul class="uk-tab" data-uk-tab="{connect: '#tab-directory'}">
        <li><a href="">master.yml</a></li>
        <li><a href="">Configurations.java</a></li>
        <li><a href="">Application.java</a></li>
      </ul>
      <ul id="tab-directory" class="uk-switcher">
        <li>
          <pre><code class="yaml makefile">
master:
  poll-every: 60
  poll-every-unit: 'seconds'
  pool-size: 10

files:
  db:
    file: '/path/to/clients'
    poll-every: 4
    poll-every-unit: 'minutes'
          </code></pre>
        </li>
        <li>
          <pre><code class="java">{{'
public class Configurations {

  public static final ConfigurationPropertiesImpl db;

  static {
    EventBus eventBus = new EventBusSyncImpl();
    Watch watch = Watch.config("/path/to/master.yml").withEventBus(eventBus);

    db = watch.directory("clients");
  }
}
        '}}</code></pre>
        </li>
        <li>
          <pre><code class="java">{{'
public static void main(String[] args) {
  File google = Configurations.clients.getValue().get("google.css");
  File venmo = Configurations.clients.getValue().get("paypal/venmo.css");
  File braintree = Configurations.clients.getValue().get("paypal/braintree.css");
}
        '}}</code></pre>
        </li>
      </ul>

      <hr/>

      <h2 id="custom">Custom configuration objects</h2>
      <p>
        You can also define your own custom configuration objects by extending the <code>ConfigurationAbstractImpl</code> class.
        As an example, here is how to design a configuration object for a CSV file:
      </p>

      <ul class="uk-tab" data-uk-tab="{connect: '#tab-custom'}">
        <li><a href="">clients.csv</a></li>
        <li><a href="">master.yml</a></li>
        <li><a href="">ConfigurationClientsImpl.java</a></li>
        <li><a href="">Configurations.java</a></li>
        <li><a href="">Application.java</a></li>
      </ul>
      <ul id="tab-custom" class="uk-switcher">
        <li>
          <pre><code class="csv">
id,company,parent
1,Apple,
2,Google,Alphabet
3,Venmo,PayPal
4,Braintree,PayPal
          </code></pre>
        </li>
        <li>
          <pre><code class="yaml makefile">
master:
  poll-every: 60
  poll-every-unit: 'seconds'
  pool-size: 10

files:
  db:
    file: '/path/to/clients.csv'
    poll-every: 1
    poll-every-unit: 'hour'
          </code></pre>
        </li>
        <li>
          <pre><code class="java">{{'
public class ConfigurationClientsImpl extends ConfigurationAbstractImpl&lt;List&lt;Client&gt;&gt; {

  public ConfigurationClientsImpl(String sourceId, File configFile, EventBus eventBus) throws IOException {
    super(sourceId, eventBus);
    init(configFile);
  }

  /**
   * This method is called on startup and also when the associated configFile is updated. It defines the cached
   * configuration file you get by calling getValue().
   */
  @Override
  public List&lt;Client&gt; load(File configFile) throws IOException {
    List&lt;Client&gt; clients = new ArrayList&lt;&gt;();
    try (Scanner scanner = new Scanner(configFile)) {
      while (scanner.hasNextLine()) {
        String line = scanner.nextLine();
        String[] lineParts = line.split(",");
        Client client = new Client(lineParts[0], lineParts[1], lineParts[2]);
        clients.add(client);
      }
    }
    return clients;
  }
}
        '}}</code></pre>
        <li>
          <pre><code class="java">{{'
public class Configurations {

  public static final ConfigurationClientsImpl clients;

  static {
    EventBus eventBus = new EventBusSyncImpl();
    Watch watch = Watch.config("/path/to/master.yml").withEventBus(eventBus);

    clients = watch.custom("clients").mappedWith(new Function&lt;CustomConfigurationParams, ConfigurationClientsImpl&gt;() {
      @Override
      public ConfigurationClientsImpl apply(CustomConfigurationParams params) {
        try {
          return new ConfigurationClientsImpl(params.getSourceId(), params.getFile(), params.getEventBus());
        }
        catch (IOException e) {
          throw new RuntimeException(e);
        }
      }
    });
  }
}
        '}}</code></pre>
        </li>
        <li>
          <pre><code class="java">{{'
public static void main(String[] args) {
  String company1 = Configurations.clients.getValue().get(0).getCompany();
  String company2 = Configurations.clients.getValue().get(1).getCompany();
}
        '}}</code></pre>
        </li>
      </ul>

    </article>
  </div>
  <div class="uk-hidden-small uk-width-medium-2-5 uk-width-large-1-4">
    <div data-uk-sticky="{top: 10}">
      <ul class="uk-nav uk-nav-side" data-uk-scrollspy-nav="{closest: 'li', smoothscroll: true, cls: 'uk-active'}">
        <li class="uk-nav-header">Quickstart</li>
        <li><a href="#qs-yaml">Master YAML</a></li>
        <li><a href="#qs-watch">Creating <code>Watch</code> singleton</a></li>
        <li><a href="#qs-config">Creating configuration objects</a></li>
        <li class="uk-nav-divider"></li>

        <li class="uk-nav-header">Configuration object types</li>
        <li><a href="#json">JSON</a></li>
        <li><a href="#properties">Java .properties</a></li>
        <li><a href="#xml">XML</a></li>
        <li><a href="#yaml">YAML</a></li>
        <li><a href="#directory">Entire directories</a></li>
        <li><a href="#custom">Custom types</a></li>
        <li class="uk-nav-divider"></li>
        <li><a href="https://github.com/alanbuttars/commons-java/tree/master/commons-cli" target="_blank"><i class="uk-icon-github"></i></a></li>
      </ul>
    </div>
  </div>
</div>
