<article class="uk-article">
  <h1 class="uk-article-title">
    Introduction
  </h1>

  <p class="uk-article-lead">
    Commons is a collection of Java libraries which encompass popular web application tasks. Among the included modules are:
  </p>
  <dl class="uk-article-lead uk-description-list-horizontal">
    <dt>commons-cli</dt>
    <dd>Deploy command-line processes and interpret their success</dd>

    <dt>commons-compress</dt>
    <dd>Compress and decompress files and archives using 16 different file types</dd>

    <dt>commons-config</dt>
    <dd>Wrap your configuration files in simple objects which respond to file changes</dd>
  </dl>

  <p>
    GitHub source: <a href="https://github.com/alanbuttars/commons-java/tree/master/" target="_blank">https://github.com/alanbuttars/commons-java/tree/master/</a>.
  </p>

  <hr/>

  <h2>Design</h2>
  <p>
    In order to merit inclusion in the project, functionality must meet a handful of criteria:
  </p>
  <ol>
    <li>Is the functionality used in the majority of Java web applications?</li>
    <li>Is the functionality independent of any specific framework?</li>
  </ol>

  <p>
    Functionality is written with the following goals in mind:
  </p>
  <ol>
    <li>Setup should be minimal. Users should be able to plug and play.</li>
    <li>Configuration should be easy. There should only be one, simple way to deviate from default behavior.</li>
    <li>Syntax should be intuitive. On all appropriate occasions seek to emulate human language.</li>
  </ol>

  <hr/>

  <h2>Contribute</h2>
  <p>
    All feature requests, bug reports, and pull requests may be filed through the GitHub page:
  </p>
  <dl class="uk-description-list-horizontal">
    <dt>Feature requests</dt>
    <dd><a href="https://github.com/alanbuttars/commons-java/issues/new">https://github.com/alanbuttars/commons-java/issues/new</a></dd>

    <dt>Bug reports</dt>
    <dd><a href="https://github.com/alanbuttars/commons-java/issues/new">https://github.com/alanbuttars/commons-java/issues/new</a></dd>

    <dt>Pull requests</dt>
    <dd><a href="https://github.com/alanbuttars/commons-java/pulls">https://github.com/alanbuttars/commons-java/pulls</a></dd>
  </dl>

</article>
