<h2>Maven</h2>
<pre><code class="xml">
&lt;dependency&gt;
  &lt;groupId&gt;com.alanbuttars.commons&lt;/groupId&gt;
  &lt;artifactId&gt;commons-cli&lt;/artifactId&gt;
  &lt;version&gt;{{release.name}}&lt;/version&gt;
&lt;/dependency&gt;

&lt;dependency&gt;
  &lt;groupId&gt;com.alanbuttars.commons&lt;/groupId&gt;
  &lt;artifactId&gt;commons-compress&lt;/artifactId&gt;
  &lt;version&gt;{{release.name}}&lt;/version&gt;
&lt;/dependency&gt;

&lt;dependency&gt;
  &lt;groupId&gt;com.alanbuttars.commons&lt;/groupId&gt;
  &lt;artifactId&gt;commons-config&lt;/artifactId&gt;
  &lt;version&gt;{{release.name}}&lt;/version&gt;
&lt;/dependency&gt;

</code></pre>

<hr/>

<!--
<h3>Gradle</h3>
<pre><code class="gradle">
compile group: 'com.alanbuttars.commons', name: 'commons', version: '{{release.name}}'

</code></pre>

<hr/>
-->

<h2>Manual downloads</h2>
<table class="uk-table uk-table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th class="uk-hidden-small">md5</th>
      <th class="uk-hidden-small">sha1</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let download of release.downloads">
      <td>{{download.module}}-{{release.name}}{{download.suffix}}</td>
      <td class="uk-hidden-small">{{download.md5}}</td>
      <td class="uk-hidden-small">{{download.sha1}}</td>
      <td><a class="uk-icon-download" target="_blank" href="https://repo1.maven.org/maven2/com/alanbuttars/commons/{{download.module}}/{{release.name}}/{{download.module}}-{{release.name}}{{download.suffix}}"></a></td>
    </tr>
  </tbody>
</table>
