<h3>Maven</h3>
<pre>
  <code class="xml">
&lt;dependency&gt;
  &lt;groupId&gt;com.alanbuttars.commons&lt;/groupId&gt;
  &lt;artifactId&gt;commons&lt;/artifactId&gt;
  &lt;version&gt;{{release.name}}&lt;/version&gt;
&lt;/dependency&gt;
  </code>
</pre>

<h3>Gradle</h3>
<pre>
  <code class="gradle">
compile group: 'com.alanbuttars.commons', name: 'commons', version: '{{release.name}}'
  </code>
</pre>

<h3>Manual downloads</h3>
<table class="uk-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Hash</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let download of release.downloads">
      <td>{{download.name}}</td>
      <td>{{download.hash}}</td>
      <td><a class="uk-icon-download" target="_blank" href="downloads/{{release.name}}/{{download.name}}"></a></td>
    </tr>
  </tbody>
</table>
